body {
    background-color: hsl(300, 100%, 82%);
    color: deeppink;
    font-family: Open Roboto Slab;
    margin: 0;
}
    h2{
        font-size: 5 em;
        padding-top: 12%;
        padding-bottom: 5%;
        text-align: center;
    }
    h3{
        text-align: center;
        font-size: 1.5em;
    }
    h1{
        font-size: 12 em;
        margin: 0 0.1em 0 0;
    }
    p{
        width: 50%;
        font-size: 1.1em;
        float: right;
        margin-right: 30px;
    }
    .mainnavbar{
        text-align: center;
        font-size: 1.2em;
        padding: 40px;
        margin-bottom: 10%;
    }
    a {
        padding: 20px;
        margin: 10px;
        text-decoration: none;
        color: deeppink;
    }
    a:hover{
        background-color: cornflowerblue;
        color: crimson;
    }
#footer{
    width: 100%;
    background-color: darkmagenta;
    color: dodgerblue;
    padding: 10px;
    text-align: center;
}
article {
    text-align: right;
    margin: 0;
    display: block;
    width: 100%;
    height: 100vh;
}
p{
    width: 50%;
    font-size: 1.1em;
    float: right;
    margin-right: 30px;
}
iframe{
    margin-top: 3%;
    margin-left: 5%;
    float: left;
}
@media only screen and (min-width: 700px) {
    body{
        background-color: palevioletred;
        color: aqua;
    }
    #footer{
        color: tomato;
    }
    a:hover{
        color: fuchsia;
        background-color: lightseagreen;
    }
    h1{
        font-size: 5em;
        padding-right: 20px;
    }
    h2{
        font-size: 3em;
    }
    h3{
        font-size: 1em;
    }
    .mainnavbar{
        font-size: 1em;
    }
    article{
        font-size: 0.8em;
        padding: 0px 20px 20px 0;
    }
    article a{
        padding: 10px;
    }
    .paragraph{
        
        font-size: 1em

    }
    article .navbar{
        font-size: 0.8em;
        padding: 0px 20px 20px 0;
    }
    article a:hover{
        color: paleturquoise;
        background-color: deeppink;
    }

}